<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RJCP.Core.Environment" version="0.3.0" targetFramework="net472" />
  <package id="RJCP.Core.SysCompat" version="0.2.0" targetFramework="net472" />
  <package id="RJCP.Diagnostics.Trace" version="0.2.1" targetFramework="net472" />
  <package id="RJCP.IO.Buffer" version="0.2.2" targetFramework="net472" />
  <package id="RJCP.IO.Device" version="0.8.2" targetFramework="net472" />
  <package id="RJCP.SerialPortStream" version="3.0.2" targetFramework="net472" />
</packages>